<%-include('./includes/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
           <div class="card shadow">
            <div class="card-header bg-primary">
                <h3 class="text-light">Add New Candidate</h3>
            </div>
            <div class="card-body p-4">
                <form action="/addCandidate" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="document">Document</label>
                        <input type="file" name="document" class="form-control form-control-lg" required/>
                    </div>
                    <div class="mb-3">
                        <label for="fingerprint">FingerPrint</label>
                        <input type="file" name="fingerprint" class="form-control form-control-lg" required/>
                    </div>
                    <div class="mb-3">
                    <label for="mobile">Mobile</label>
                    <input type="tel" name="mobile" class="form-control form-control-lg"  required/>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" name="address" class="form-control form-control-lg" required/>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control form-control-lg" required/>
                </div>
                <div class="mb-3">
                    <label for="status">Status</label>
                    <select name="status" id="status" class="form-control form-control-lg" required>
                        <option value="active">Active</option>
                        <option value="inactive">InActive</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="gender">Gender</label>
                    <select name="gender" id="gender" class="form-control form-control-lg" required>
                        <option value="female">Female</option>
                        <option value="male">Male</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="party">Party:</label>
                    <select name="party_id" id="party" class="form-control form-control-lg" required>
                        <% parties.forEach((party) => { %>
                        <option value="<%= party.id %>" ><%= party.name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3 d-grid">
                    <input type="submit" name="submit" value="Add Party" class="btn btn-primary btn-lg">
                </div>
                </form>
            </div>
           </div>
            
        </div>
    </div>
</div>
<%- include('./includes/footer') %>