<%-include('./includes/header') %>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard of Online Based Voting System</h1>
    
</div>
<%-include('./includes/footer') %>